# Chapter 2: Python Language Basics, IPython, and Jupyter Notebooks

In [15]:
import numpy as np
np.random.seed(12345)
np.set_printoptions(precision=4, suppress=True)

## Making a list of random data

In [22]:
np.random.seed(12345)
# if I didn't call the seed set here,
# then each subsequent run would be different
# think of seed as initial start for random,
# but need to set that waypoint if
# want to repeat for some reason like here
data = [np.random.standard_normal() for i in range(7)]
data

[-0.20470765948471295,
 0.47894333805754824,
 -0.5194387150567381,
 -0.55573030434749,
 1.9657805725027142,
 1.3934058329729904,
 0.09290787674371767]

## Making a list and making a new var that is a reference to it

In [23]:
a = [1, 2, 3]

In [24]:
b = a
b

[1, 2, 3]

## When 'a' is changed 'b' mirrors it, b/c it's a reference to 'a'

In [25]:
a.append(4)
b

[1, 2, 3, 4]

## Defining a function to do something to a variable, by reference (only option)

In [28]:
def append_element(some_list, element):
    some_list.append(element)

In [29]:
data = [1, 2, 3]
append_element(data, 4)
data

[1, 2, 3, 4]

## A variable can be retyped with assignment

In [31]:
a = 5
print(f'a = {a} is of type {type(a)}')
a = "foo"
print(f'a = {a} is of type {type(a)}')

a = 5 is of type <class 'int'>
a = foo is of type <class 'str'>

## Cannot always mix types (sometimes yes)

In [33]:
"5" + 5

TypeError: can only concatenate str (not "int") to str

In [34]:
"5" * 5

'55555'

## Automatic casting can happen more clearly in numbers (float / int = float)

In [37]:
a = 4.5
b = 2
# String formatting, to be visited later
print(f"a is {type(a)}, b is {type(b)}")
print(f"a / b = {a / b} is {type(a / b)}")

a is <class 'float'>, b is <class 'int'>
a / b = 2.25 is <class 'float'>

## Checking if an object is an instance or subclass of a type, useful for multi-select w/ tuple?

In [41]:
a = 5
print(f'a = {a} and it is an instance of int? = {isinstance(a, int)}')

a = 5 and it is an instance of int? = True

In [42]:
a = 5; b = 4.5
print(f'a is instance of int or float? = {isinstance(a, (int, float))}')
print(f'b is instance of int or float? = {isinstance(b, (int, float))}')

a is instance of int or float? = True
b is instance of int or float? = True

## Here's a way to see if a type as a given attribute (strings have split attr)

In [43]:
a = "foo"

In [44]:
getattr(a, "split")

## Function that shows how to handle exception, and use it for return value

In [45]:
def isiterable(obj):
    try:
        iter(obj)
        return True
    except TypeError: # not iterable
        return False

In [47]:
print(isiterable("a string"))
print(isiterable([1, 2, 3]))
print(isiterable(5))

True
True
False

## Ok, I'm getting sick of adding prints, when it looks like author wanted to show output for every line, A LOT

In [50]:
5 - 7
12 + 21.5
5 <= 2

-2

33.5

False

## Making a copy of a list by passing into constructor

In [65]:
a = [1, 2, 3]
b = a
c = list(a)

## The 'is' operator is for reference / instance comparison

In [66]:
a is b
a is not c

True

True

## The '==' operator is for content equivalency comparison

In [67]:
a == c

True

## Here we nullify 'a', but find that the old reference to it's data 'b' still holds

In [68]:
a = None
a is None

True

In [69]:
a == c

False

In [70]:
b
c
b is c
b == c
c.append(5)
c
b == c

[1, 2, 3]

[1, 2, 3]

False

True

[1, 2, 3, 5]

False

## Lists are mutable, and can contain mixed data types

In [71]:
a_list = ["foo", 2, [4, 5]]
a_list[2] = (3, 4)
a_list

['foo', 2, (3, 4)]

## Tuples are immutable, and can contain mixed data types

In [73]:
a_tuple = (3, 5, (4, 5), "seven")
a_tuple[1] = "four"

TypeError: 'tuple' object does not support item assignment

## Numerical types inferred based on immediate values used, if not decimal point, it's an int

In [83]:
ival = 17239871
ival
ival ** 6
fval = ival ** 6.0
fval

17239871

26254519291092456596965462913230729701102721

2.6254519291092455e+43

## Scientific notation works

In [77]:
fval = 7.243
fval
fval2 = 6.78e-5
fval2

7.243

6.78e-05

## Floating point division is the default, even with int operands, where as integer division can be forced with '//' operator

In [79]:
3 / 2

1.5

In [81]:
3 // 2

1

## Strings can be specified with different quote types

In [85]:
c = """
This is a longer string that
spans multiple lines
"""
c

'\nThis is a longer string that\nspans multiple lines\n'

In [86]:
c.count("\n")

3

## Strings are immutable, can read char at index, like array / list, but can't write

In [88]:
a = "this is a string"
a[10]
a[10] = "f"

's'

TypeError: 'str' object does not support item assignment

## Better to work with strings as lists, if wanting to edit, and then return to string using join() to empty string

In [91]:
a2 = list("this is a string as a list")
str(a2)
a2[10]
a2[10] = "f"
"".join(a2)

"['t', 'h', 'i', 's', ' ', 'i', 's', ' ', 'a', ' ', 's', 't', 'r', 'i', 'n', 'g', ' ', 'a', 's', ' ', 'a', ' ', 'l', 'i', 's', 't']"

's'

'this is a ftring as a list'

## This created a new string with replacement, good for templating

In [92]:
b = a.replace("string", "longer string")
b

'this is a longer string'

In [94]:
a

'this is a string'

## Checking for parts in a string

In [99]:
target = "is a"
target in a and target in b
target2 = "longer"
target2 in a
target2 in b

True

False

True

## Converting int to a string

In [100]:
a = 5.6
s = str(a)
print(s)

5.6

## Convert a string into a list, then slice each, string returns string, list returns list, start at beginning, and get 3 items

In [102]:
s = "python"
l = list(s)
s[:3]
l[:3]

'pyt'

['p', 'y', 't']

## Escaping special characters in strings using '\\'

In [103]:
s = "12\\34"
print(s)

12\34

## Eliminate need for escape character by using a 'raw / r' string

In [104]:
s = r"this\has\no\special\characters"
s

'this\\has\\no\\special\\characters'

## String concatenation

In [105]:
a = "this is the first half "
b = "and this is the second half"
a + b

'this is the first half and this is the second half'

## Template strings and using .format()

In [107]:
template = "{0:.2f} {1:s} are worth US${2:d}"
template

'{0:.2f} {1:s} are worth US${2:d}'

In [108]:
template.format(88.46, "Argentine Pesos", 1)

'88.46 Argentine Pesos are worth US$1'

## Sexy new f-strings for natural string formatting templates

In [110]:
amount = 10
rate = 88.46
currency = "Pesos"
result = f"{amount} {currency} is worth US${amount / rate}"
result

'10 Pesos is worth US$0.11304544426859599'

In [111]:
f"{amount} {currency} is worth US${amount / rate:.2f}"

'10 Pesos is worth US$0.11'

## Character encoding is unicode by default

In [112]:
val = "español"
val

'español'

## Converting unicode strings to raw bytes / b'string'

In [115]:
val_utf8 = val.encode("utf-8")
val_utf8
type(val_utf8)

b'espa\xc3\xb1ol'

bytes

In [116]:
val_utf8.decode("utf-8")

'español'

In [117]:
val.encode("latin1")
val.encode("utf-16")
val.encode("utf-16le")

b'espa\xf1ol'

b'\xff\xfee\x00s\x00p\x00a\x00\xf1\x00o\x00l\x00'

b'e\x00s\x00p\x00a\x00\xf1\x00o\x00l\x00'

## Boolean logic

In [118]:
True and True
False or True

True

True

In [119]:
int(False)
int(True)

0

1

In [120]:
a = True
b = False
not a
not b

False

True

In [121]:
s = "3.14159"
fval = float(s)
type(fval)
int(fval)
bool(fval)
bool(0)

float

3

True

False

In [123]:
a = None
a is None
b = 5
b is not None

True

True

## Dates and times

In [125]:
from datetime import datetime, date, time
dt = datetime(2011, 10, 29, 20, 30, 21)
dt.day
dt.minute

29

30

In [124]:
dt.date()
dt.time()

datetime.date(2011, 10, 29)

datetime.time(20, 30, 21)

In [126]:
dt.strftime("%Y-%m-%d %H:%M")

'2011-10-29 20:30'

In [127]:
datetime.strptime("20091031", "%Y%m%d")

datetime.datetime(2009, 10, 31, 0, 0)

In [128]:
dt_hour = dt.replace(minute=0, second=0)
dt_hour

datetime.datetime(2011, 10, 29, 20, 0)

In [129]:
dt

datetime.datetime(2011, 10, 29, 20, 30, 21)

## Date / time differences

In [130]:
dt2 = datetime(2011, 11, 15, 22, 30)
delta = dt2 - dt
delta
type(delta)

datetime.timedelta(days=17, seconds=7179)

datetime.timedelta

In [131]:
dt
dt + delta

datetime.datetime(2011, 10, 29, 20, 30, 21)

datetime.datetime(2011, 11, 15, 22, 30)

## Conditionals / more boolean logic

In [132]:
a = 5; b = 7
c = 8; d = 4
if a < b or c > d:
    print("Made it")

Made it

In [133]:
4 > 3 > 2 > 1

True

## Nested loops with conditional break

In [134]:
#! blockstart
for i in range(4):
    for j in range(4):
        if j > i:
            break
        print((i, j))
#! blockend

(0, 0)
(1, 0)
(1, 1)
(2, 0)
(2, 1)
(2, 2)
(3, 0)
(3, 1)
(3, 2)
(3, 3)

## Ranges are iterables / generators, not a straight up list

In [135]:
range(10)
list(range(10))

range(0, 10)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

## Showing how to make ranges with steps

In [136]:
list(range(0, 20, 2))
list(range(5, 0, -1))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

[5, 4, 3, 2, 1]

## Loop through list with clunky way to get index

In [137]:
seq = [1, 2, 3, 4]
for i in range(len(seq)):
    print(f"element {i}: {seq[i]}")

element 0: 1
element 1: 2
element 2: 3
element 3: 4

## Loop through list with index using enumerate

In [138]:
for i, v in enumerate([1, 2, 3, 4]):
    print(f'element {i}: {v}')

element 0: 1
element 1: 2
element 2: 3
element 3: 4

## This is cool, looks like can separate large number immediates using '_'

In [139]:
total = 0
for i in range(100_000):
    # % is the modulo operator
    if i % 3 == 0 or i % 5 == 0:
        total += i
print(total)

2333316668

In [141]:
100_00_0

100000